 
*{
    margin: 7.5px;
    
    justify-content: center;
    
}
body{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    font-size: 95%;
    width: auto;
    border: solid 2px #000;
}

header{
    grid-column: 1/5;
    background-color: honeydew;
    text-align: center;
    border: solid 2px #000;
    height: 100px;
}
section{
    grid-column: 1/2;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: auto;
    padding-right: auto;
    border: solid 2px #000;
}
h2{
    text-align: center;
}
h1{

    margin-top: 30px;
    border: solid 2px #000;
}
main>div{
    border: solid 2px #000;
}
section>div{
    height: 15%;
    padding: 40px;
    border: solid 2px #000;
}
aside>div{
    padding: 20px;
    border: solid 2px #000;
}
main{
    background-color: rgb(167, 221, 228);
    display: grid;
    grid-column: 2/4;
    border: solid 2px #000;
}
aside{
    grid-column: 4/5;
    background-color: rgb(226, 159, 226);
    border: solid 2px #000;
}
footer{
    background-color: darkseagreen;
    grid-column: 1/5;
    border: solid 2px #000;
    height: 80px;
}
